@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>
<h3>Welcome to our store!</h3>
<p>We are passionate about cats. We only supply the best of the best cat products.</p>
<p>To browse our products, click <a href="~/Store">here!</a></p>
