<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="header"><img src="http://www.furreverfriendsrescue.org/images/senior-cat-banner1.png" /></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Store">Store</a></li>
                    @{ int accountType = 0;
                        if (Request.Cookies["userInfo"] != null)
                        {
                            accountType = Int32.Parse(Request.Cookies["userInfo"]["userTypeID"]);
                            <li><a href="~/Logout/UserLogout">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="~/Login/UserLogin">Login</a></li>
                            <li><a href="~/Users/Create">Create an Account</a></li>
                        }
                        if (accountType == 1)
                        {
                            <li><a href="~/Cart">View Cart</a></li>

                        }
                        else if (accountType == 2)
                        {
                            <li><a href="~/Management/Index">Management</a></li>
                        }
                    }                                         
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>