@model ActualFinalProject.OrderDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Cart Item</h2>

<h3>Are you sure you want to delete this item from your cart?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Quantity: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Item Name: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>

    </dl>
    <hr/>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
