
@{
    ViewBag.Title = "Site Management";
}

<h2>Site Management</h2>
<ul>
    <li><a href="~/Users/Index">Manage Users</a></li>
    <li><a href="~/UserTypes/Index">Manage User Types</a></li>
    <li><a href="~/Items/Index">Manage Items</a></li>
    <li><a href="~/ItemCategories/Index">Manage Item Categories</a></li>
    <li><a href="~/Images/Index">Manage Item Images</a></li>
    <li><a href="~/Orders/Index">Manage Orders</a></li>
    <li><a href="~/OrderTypes/Index">Manage Order Types</a></li>
    <li><a href="~/OrderDetails/Index">Manage Order Details</a></li>
</ul>

